/* .container {
  padding: 20px 175px;
} */
.row {
  flex-wrap: nowrap;
}
.col {
  background-color: #ffbaa5;
}
.black { 
  background-color: #b53810;
}

.checker {
  position: absolute;
  width: 65%;
  height: 65%;
  top: 19%;
  left: 19%;
}

.square{
  float: left;
  width: 20px;
  height: 20px;
}

.white{
  background-color:#fff;
}

.board{
  position: relative;
  margin: 0 auto;
}


